.elections {
  background-color: white;
  width: 85%;
  margin: auto;
  border: 3px solid #d1d1d1;
  border-radius: 15px;
  text-align: center;
  box-shadow: 3px 3px 10px 3px #232323;
}

.content {
  text-align: center;
  width: 85%;
  margin: auto;
  padding: 1rem 1rem 2rem 1rem;
}
